@charset "UTF-8";

/* Estilos para todos os dispositivos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    background: #000000;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    padding: 10px;
    text-shadow: 2px 2px 4px #000000;
}

/* Estilos para dispositivos em modo retrato */
@media screen and (orientation: portrait) {
    body {
        background-image: url(../imgs/cev-portrait.jpg);
        background-position: center bottom;
    }
}

/* Estilos para dispositivos em modo paisagem */
@media screen and (orientation: landscape) {
    body {
        background-image: url(../imgs/cev-landscape.jpg);
        background-position: center top;
    }
}